@tailwind base;

@tailwind components;

@layer components {
	.main,
	.button-lg {
		width: 348px;
	}

	.price {
		font-size: 22px;
	}

	.label {
		left: 4px;
		top: 6px;
		transition: 0.2s ease all;
		-moz-transition: 0.2s ease all;
		-webkit-transition: 0.2s ease all;
	}

	.input:focus ~ .label,
	.input:valid ~ .label {
		padding: 2px 12px;
		top: -16px;
		font-size: 14px;
	}

	.select {
		min-width: 8rem;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC) no-repeat right white;
		background-position-x: 95%;
		-webkit-appearance: none;
	}

	.select:focus ~ .label,
	.select:valid ~ .label {
		padding: 2px 12px;
		top: -16px;
		font-size: 14px;
	}
}

@tailwind utilities;

@layer utilities {
	.border-opacity-5 {
		--border-opacity: 0.05;
	}

	.border-opacity-10 {
		--border-opacity: 0.1;
	}

	.opacity-80 {
		opacity: 0.8;
	}
}
